.about-header {
    text-align: center;
    justify-content: center;
    font-family: "Inter", "Gill Sans", sans-serif;
}
.about-header h1 {
    font-size: 3vw;
}
.about-header h3 {
    font-size: 1.5vw;
}

.about-main {
    display: flex;
    padding: 10px;
    font-family: "Inter", "Gill Sans", sans-serif;
}
.about-main__img {
    float: left;
    padding-right: 10px;
}
.about-main__content {
    float: right;
}

.about-main__intro {
    padding-bottom: 10px;
}

.about-main__table {
    width: 100%;
    font-size:larger;
}
.about-main__table td {
    padding-bottom: 15px;
}
.about-main__table td:first-child {
    font-weight: bolder;
    width: 25%;
}
.about-main__table td:last-child {
    width: 75%;
}
