@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

/**********************************/
/*		   Styling Feature	      */
/**********************************/

.feature-intro {
    margin: none;
    padding: 0px;
}

/* Intro Formatting */
.intro {
    margin: none;
    position: relative;
    text-align: right;
    color: white;
    height: calc(100vw * (9 / 16) );
    max-height: 650px;
}

/* Div Formatting */
.intro__info {
    white-space:nowrap;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(150%, -35%);
    font-family: "Inter", "Gill Sans", sans-serif;
}

/* Text */
.intro__info h1 {
    text-decoration: none;
    font-size: 3.5vw;
    line-height: .75;
}
.intro__info h2 {
    text-decoration: none;
    font-size: 2.5vw;
    line-height: 0.5;
}

/* Links */
.intro__links {
    float: right;
}
.intro__links a{
    text-decoration: none;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}
.intro__links img {
    width: 2vw;
    min-width: 25px;
    filter: invert(98%) sepia(0%) saturate(7487%) hue-rotate(26deg) brightness(105%) contrast(105%);
}


/**********************************/
/*		   Styling Intro	      */
/**********************************/
